@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~terminal.css/dist/terminal.min.css";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
  overflow-x: hidden;

  .container {
    max-width: 1020px;
  }

  .react-terminal-line {
    white-space: normal;
  }
}
